@media all and (max-width: 1255px) {
    form {
        width: 900px;
    }
    .answer {
        width: 900px;
    }
}

@media all and (max-width: 992px) {
    form {
        width: 90%;
    }
    .answer {
        width: 95%;
    }
}

@media all and (max-width: 768px) {
    form {
        width: 90%;
    }
    .answer {
        width: 95%;
    }
}

@media all and (max-width: 480px) {
    form {
        width: 90%;
    }
    .answer {
        width: 95%;
    }

}
